@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('./../../public/fonts/Perfect\ DOS\ VGA\ 437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

canvas {
    pointer-events: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.1rem;
    font-family: $dos;
}